In [1]:
import pandas as pd

dt = pd.read_csv('Kaggle_Sirio_Libanes_ICU_Prediction.csv')
dt.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [2]:
dt.dropna(inplace=True)
print(dt.isna().sum())
print(dt.shape)

PATIENT_VISIT_IDENTIFIER      0
AGE_ABOVE65                   0
AGE_PERCENTIL                 0
GENDER                        0
DISEASE GROUPING 1            0
                             ..
RESPIRATORY_RATE_DIFF_REL     0
TEMPERATURE_DIFF_REL          0
OXYGEN_SATURATION_DIFF_REL    0
WINDOW                        0
ICU                           0
Length: 231, dtype: int64
(545, 231)

In [3]:
dt = dt.drop(['AGE_PERCENTIL'], axis=1)

In [13]:
dt = dt.drop(['WINDOW'], axis=1)

In [14]:
dt.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
4,0,1,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.176471,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,1
6,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1
8,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.764706,-0.880952,-1.000000,-0.906832,-0.831132,-0.940967,-0.817204,-0.882574,-1.000000,1
9,1,1,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.764706,0.142857,-0.797980,0.315690,0.200359,-0.239515,0.645161,0.139709,-0.802317,1
14,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.705882,-0.500000,-0.898990,-0.612422,-0.343258,-0.576744,-0.695341,-0.505464,-0.900129,1

In [15]:
x = dt.iloc[:,0:-1].values
y = dt.iloc[:,-1].values

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [18]:
y.shape

(545,)

In [19]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 545 entries, 4 to 1924
Columns: 229 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: float64(225), int64(4)
memory usage: 979.3 KB

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [21]:
x_train = sc.fit_transform(x_train)

In [34]:
x_test = sc.fit_transform(x_test)

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
import numpy as np

In [45]:
error_rate = []
for i in range (1,20):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    pred_i = knn.predict(x_test)
    error_rate.append(np.mean(pred_i != y_test))
    
print("Minimun eror: -",min(error_rate),"at K =",error_rate.index(min(error_rate)))

Minimun eror: - 0.17518248175182483 at K = 16

In [46]:
knn = KNeighborsClassifier(n_neighbors=16)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=16)

In [47]:
from sklearn.metrics import confusion_matrix

In [48]:
y_pred = knn.predict(x_test)

cm = confusion_matrix(y_test,y_pred)

In [53]:
print(cm)

[[75  5]
 [20 37]]

In [50]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [51]:
akurasi = classification_report(y_test,y_pred)

print(akurasi)

              precision    recall  f1-score   support

           0       0.79      0.94      0.86        80
           1       0.88      0.65      0.75        57

    accuracy                           0.82       137
   macro avg       0.84      0.79      0.80       137
weighted avg       0.83      0.82      0.81       137

In [52]:
skor_akurasi = accuracy_score(y_test, y_pred)

print(skor_akurasi)

0.8175182481751825